 @font-face {
    font-family: 'AdoraBouton';
    src: url('../fonts/adora-bouton-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Load Adora Bouton font */
@font-face {
    font-family: 'AvenirLT55';
    src: url('../fonts/avenir-lt-std-55-roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
     background-color: #e3e5dc;
    font-family: sans-serif; /* fallback for body text */
}

h1 {
    font-family: 'AdoraBouton', cursive;
    font-size: 48px; /* optional size */
    color: #000;     /* optional color */
}

p  {
    font-family: 'AvenirLT55', sans-serif;
    font-size: 48px; /* optional size */
    color: #000;     /* optional color */
}